{
  "openapi": "3.1.0",
  "info": {
    "title": "AnyCrawl API",
    "version": "0.0.1",
    "description": "AnyCrawl 🚀: A Node.js/TypeScript crawler that turns websites into LLM-ready data and extracts structured SERP results from Google/Bing/Baidu/etc. Native multi-threading for bulk processing.",
    "contact": {
      "name": "AnyCrawl Support",
      "url": "https://github.com/anycrawl/anycrawl",
      "email": "support@anycrawl.dev"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "termsOfService": "https://anycrawl.dev/terms"
  },
  "servers": [
    {
      "url": "https://api.anycrawl.dev",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Development server (localhost)"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check endpoints"
    },
    {
      "name": "Crawl",
      "description": "Crawl a site and aggregate per-page scraping outputs"
    },
    {
      "name": "Scraping",
      "description": "Turn a URL into structured data and LLM-ready data"
    },
    {
      "name": "Search",
      "description": "SERP, search engine results page"
    },
    {
      "name": "Map",
      "description": "Discover URLs for a site (sitemap, search, and page links)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health status",
        "description": "Get server health status",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Server health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/crawl": {
      "post": {
        "summary": "Create Crawl task",
        "description": "Start a site crawl job. The job runs asynchronously and returns a job_id for polling.",
        "tags": [
          "Crawl"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Seed URL to start crawling",
                    "example": "https://anycrawl.dev"
                  },
                  "engine": {
                    "type": "string",
                    "enum": [
                      "playwright",
                      "cheerio",
                      "puppeteer"
                    ],
                    "description": "The scraping engine used for each crawled page",
                    "example": "cheerio"
                  },
                  "proxy": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "auto",
                          "base",
                          "stealth"
                        ]
                      },
                      {
                        "type": "string",
                        "format": "uri"
                      }
                    ],
                    "default": "auto"
                  },
                  "formats": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "markdown",
                        "html",
                        "text",
                        "screenshot",
                        "screenshot@fullPage",
                        "rawHtml",
                        "json",
                        "summary",
                        "links"
                      ]
                    },
                    "default": [
                      "markdown"
                    ]
                  },
                  "timeout": {
                    "type": "number",
                    "minimum": 1000,
                    "maximum": 600000,
                    "default": 60000
                  },
                  "wait_for": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 60000
                  },
                  "wait_until": {
                    "type": "string",
                    "enum": [
                      "load",
                      "domcontentloaded",
                      "networkidle",
                      "commit"
                    ]
                  },
                  "wait_for_selector": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "selector": {
                            "type": "string"
                          },
                          "timeout": {
                            "type": "number",
                            "minimum": 1,
                            "maximum": 120000
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "attached",
                              "visible",
                              "hidden",
                              "detached"
                            ]
                          }
                        },
                        "required": [
                          "selector"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "selector": {
                                  "type": "string"
                                },
                                "timeout": {
                                  "type": "number",
                                  "minimum": 1,
                                  "maximum": 120000
                                },
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "attached",
                                    "visible",
                                    "hidden",
                                    "detached"
                                  ]
                                }
                              },
                              "required": [
                                "selector"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        },
                        "minItems": 1
                      }
                    ]
                  },
                  "retry": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exclude_tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "only_main_content": {
                    "type": "boolean",
                    "default": true
                  },
                  "json_options": {
                    "type": "object",
                    "properties": {
                      "schema": {
                        "type": "object",
                        "additionalProperties": {},
                        "description": "JSON Schema specification object (free-form JSON). Use standard JSON Schema here."
                      },
                      "user_prompt": {
                        "type": "string",
                        "description": "The user prompt to be used for extracting structured data"
                      },
                      "schema_name": {
                        "type": "string",
                        "description": "The name of the schema to be used for extracting structured data"
                      },
                      "schema_description": {
                        "type": "string",
                        "description": "The description of the schema to be used for extracting structured data"
                      }
                    },
                    "additionalProperties": false
                  },
                  "extract_source": {
                    "type": "string",
                    "enum": [
                      "html",
                      "markdown"
                    ],
                    "default": "markdown"
                  },
                  "ocr_options": {
                    "type": "boolean",
                    "default": false
                  },
                  "max_age": {
                    "type": "number",
                    "minimum": 0
                  },
                  "store_in_cache": {
                    "type": "boolean",
                    "default": true
                  },
                  "scrape_options": {
                    "type": "object",
                    "properties": {
                      "proxy": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "auto",
                              "base",
                              "stealth"
                            ]
                          },
                          {
                            "type": "string",
                            "format": "uri"
                          }
                        ],
                        "default": "auto",
                        "description": "Proxy URL to route the request through (e.g., http://user:pass@host:port)"
                      },
                      "formats": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "markdown",
                            "html",
                            "text",
                            "screenshot",
                            "screenshot@fullPage",
                            "rawHtml",
                            "json",
                            "summary",
                            "links"
                          ]
                        },
                        "default": [
                          "markdown"
                        ],
                        "description": "Output formats to return",
                        "example": [
                          "markdown"
                        ]
                      },
                      "timeout": {
                        "type": "number",
                        "minimum": 1000,
                        "maximum": 600000,
                        "default": 60000,
                        "description": "Request timeout in milliseconds",
                        "example": 60000
                      },
                      "wait_for": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 60000,
                        "description": "Delay before processing (ms)",
                        "example": 1000
                      },
                      "wait_for_selector": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "selector": {
                                "type": "string"
                              },
                              "timeout": {
                                "type": "number",
                                "minimum": 1,
                                "maximum": 120000
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "attached",
                                  "visible",
                                  "hidden",
                                  "detached"
                                ]
                              }
                            },
                            "required": [
                              "selector"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "selector": {
                                      "type": "string"
                                    },
                                    "timeout": {
                                      "type": "number",
                                      "minimum": 1,
                                      "maximum": 120000
                                    },
                                    "state": {
                                      "type": "string",
                                      "enum": [
                                        "attached",
                                        "visible",
                                        "hidden",
                                        "detached"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "selector"
                                  ],
                                  "additionalProperties": false
                                }
                              ]
                            },
                            "minItems": 1
                          }
                        ],
                        "description": "Wait for one or multiple selectors before extraction (browser engines only)"
                      },
                      "only_main_content": {
                        "type": "boolean",
                        "default": true,
                        "description": "Only extract main content, removing headers, footers, navigation, etc.",
                        "example": true
                      },
                      "max_age": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Cache max age (ms). Use 0 to skip cache reads; omit to use server default.",
                        "example": 172800000
                      },
                      "store_in_cache": {
                        "type": "boolean",
                        "default": true,
                        "description": "Whether to write Page Cache for per-URL scrapes",
                        "example": true
                      },
                      "include_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Only include elements with these CSS selectors",
                        "example": []
                      },
                      "exclude_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Exclude elements with these CSS selectors",
                        "example": []
                      },
                      "json_options": {
                        "type": "object",
                        "properties": {
                          "schema": {
                            "type": "object",
                            "additionalProperties": {},
                            "description": "JSON Schema specification object (free-form JSON). Use standard JSON Schema here."
                          },
                          "user_prompt": {
                            "type": "string",
                            "description": "The user prompt to be used for extracting structured data"
                          },
                          "schema_name": {
                            "type": "string",
                            "description": "The name of the schema to be used for extracting structured data"
                          },
                          "schema_description": {
                            "type": "string",
                            "description": "The description of the schema to be used for extracting structured data"
                          }
                        },
                        "additionalProperties": false,
                        "description": "Advanced: JSON extraction options (optional). Leave empty to omit from request."
                      },
                      "extract_source": {
                        "type": "string",
                        "enum": [
                          "html",
                          "markdown"
                        ],
                        "description": "The source format to use for JSON extraction (html or markdown)",
                        "example": "markdown",
                        "default": "markdown"
                      }
                    },
                    "description": "Per-page scraping options applied during crawling"
                  },
                  "exclude_paths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Glob patterns or path prefixes to exclude from crawling",
                    "example": [
                      "/blog/*",
                      "/privacy"
                    ]
                  },
                  "include_paths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Glob patterns or path prefixes to include (applied after exclusion rules)"
                  },
                  "scrape_paths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "max_depth": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10,
                    "description": "Maximum crawl depth from the seed URL",
                    "example": 5
                  },
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "all",
                      "same-domain",
                      "same-hostname",
                      "same-origin"
                    ],
                    "default": "same-domain",
                    "description": "Crawl scope strategy",
                    "example": "same-domain"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 50000,
                    "default": 100,
                    "description": "Maximum number of pages to crawl",
                    "example": 100
                  }
                },
                "required": [
                  "url",
                  "engine"
                ],
                "additionalProperties": false,
                "description": "Request schema for site crawling",
                "example": {
                  "url": "https://anycrawl.dev",
                  "engine": "cheerio"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "description": "Indicates the crawl job was accepted and queued"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Crawl job identifier",
                          "example": "7a2e165d-8f81-4be6-9ef7-23222330a396"
                        },
                        "status": {
                          "type": "string",
                          "const": "created",
                          "description": "Initial job status",
                          "example": "created"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable confirmation message",
                          "example": "Crawl job has been queued for processing"
                        }
                      },
                      "required": [
                        "job_id",
                        "status",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "description": "Crawl job creation response (HTTP 200)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Validation error"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error",
                                "example": "engine"
                              },
                              "message": {
                                "type": "string",
                                "description": "Error message for the field",
                                "example": "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                              },
                              "code": {
                                "type": "string",
                                "description": "Error code",
                                "example": "invalid_enum_value"
                              }
                            },
                            "required": [
                              "field",
                              "message",
                              "code"
                            ]
                          },
                          "description": "Array of validation issues"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of validation error messages",
                          "example": [
                            "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                          ]
                        }
                      },
                      "required": [
                        "issues",
                        "messages"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "details"
                  ],
                  "description": "Standard error response format for validation errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to authentication issues"
                    },
                    "error": {
                      "type": "string",
                      "description": "Authentication error message",
                      "example": "Invalid API key",
                      "examples": [
                        "Invalid API key",
                        "No authorization header provided"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ],
                  "description": "Unauthorized response format for authentication errors"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - subscription or credits needed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to insufficient credits"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Insufficient credits"
                    },
                    "current_credits": {
                      "type": "number",
                      "description": "Current credit balance of the user",
                      "example": -2
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "current_credits"
                  ],
                  "description": "Payment required response format with credit information"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to server error"
                    },
                    "error": {
                      "type": "string",
                      "description": "Server error message",
                      "example": "Internal server error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message describing what went wrong",
                      "example": "Job 0ae56ed9-d9a9-4998-aea9-2ff5b51b2e4e timed out after 30000 seconds"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ],
                  "description": "Internal server error response format"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crawl/{jobId}/status": {
      "get": {
        "summary": "Check Crawl status",
        "description": "Get the current status of a crawl job",
        "tags": [
          "Crawl"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The crawl job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Crawl status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message",
                      "example": "Job status retrieved successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "completed",
                            "failed",
                            "cancelled"
                          ],
                          "example": "pending"
                        },
                        "start_time": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-05-25T07:56:44.162Z"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-05-26T07:56:44.162Z"
                        },
                        "credits_used": {
                          "type": "number",
                          "example": 0
                        },
                        "total": {
                          "type": "number",
                          "example": 120
                        },
                        "completed": {
                          "type": "number",
                          "example": 30
                        },
                        "failed": {
                          "type": "number",
                          "example": 2
                        }
                      },
                      "required": [
                        "job_id",
                        "status",
                        "start_time",
                        "expires_at",
                        "credits_used",
                        "total",
                        "completed",
                        "failed"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "description": "Crawl job status response (HTTP 200)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid job id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Validation error"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error",
                                "example": "engine"
                              },
                              "message": {
                                "type": "string",
                                "description": "Error message for the field",
                                "example": "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                              },
                              "code": {
                                "type": "string",
                                "description": "Error code",
                                "example": "invalid_enum_value"
                              }
                            },
                            "required": [
                              "field",
                              "message",
                              "code"
                            ]
                          },
                          "description": "Array of validation issues"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of validation error messages",
                          "example": [
                            "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                          ]
                        }
                      },
                      "required": [
                        "issues",
                        "messages"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "details"
                  ],
                  "description": "Standard error response format for validation errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to authentication issues"
                    },
                    "error": {
                      "type": "string",
                      "description": "Authentication error message",
                      "example": "Invalid API key",
                      "examples": [
                        "Invalid API key",
                        "No authorization header provided"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ],
                  "description": "Unauthorized response format for authentication errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to server error"
                    },
                    "error": {
                      "type": "string",
                      "description": "Server error message",
                      "example": "Internal server error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message describing what went wrong",
                      "example": "Job 0ae56ed9-d9a9-4998-aea9-2ff5b51b2e4e timed out after 30000 seconds"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ],
                  "description": "Internal server error response format"
                }
              }
            }
          }
        }
      }
    },
    "/v1/crawl/{jobId}": {
      "get": {
        "summary": "Get Crawl results",
        "description": "Get crawl results (paginated via skip query param).",
        "tags": [
          "Crawl"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The crawl job ID"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Number of results to skip (page offset)"
          }
        ],
        "responses": {
          "200": {
            "description": "Crawl results page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "completed",
                        "failed",
                        "cancelled"
                      ],
                      "example": "pending"
                    },
                    "total": {
                      "type": "number",
                      "example": 120
                    },
                    "completed": {
                      "type": "number",
                      "example": 30
                    },
                    "creditsUsed": {
                      "type": "number",
                      "example": 12
                    },
                    "next": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uri",
                      "description": "Next page URL if more results are available",
                      "example": "https://api.anycrawl.dev/v1/crawl/7a2e165d-8f81-4be6-9ef7-23222330a396?skip=100"
                    },
                    "data": {
                      "type": "array",
                      "items": {},
                      "description": "Array of per-page scraping results produced by the crawl"
                    }
                  },
                  "required": [
                    "success",
                    "status",
                    "total",
                    "completed",
                    "creditsUsed",
                    "data"
                  ],
                  "description": "Crawl job results (paginated) response (HTTP 200)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid job id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Validation error"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error",
                                "example": "engine"
                              },
                              "message": {
                                "type": "string",
                                "description": "Error message for the field",
                                "example": "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                              },
                              "code": {
                                "type": "string",
                                "description": "Error code",
                                "example": "invalid_enum_value"
                              }
                            },
                            "required": [
                              "field",
                              "message",
                              "code"
                            ]
                          },
                          "description": "Array of validation issues"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of validation error messages",
                          "example": [
                            "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                          ]
                        }
                      },
                      "required": [
                        "issues",
                        "messages"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "details"
                  ],
                  "description": "Standard error response format for validation errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to authentication issues"
                    },
                    "error": {
                      "type": "string",
                      "description": "Authentication error message",
                      "example": "Invalid API key",
                      "examples": [
                        "Invalid API key",
                        "No authorization header provided"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ],
                  "description": "Unauthorized response format for authentication errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to server error"
                    },
                    "error": {
                      "type": "string",
                      "description": "Server error message",
                      "example": "Internal server error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message describing what went wrong",
                      "example": "Job 0ae56ed9-d9a9-4998-aea9-2ff5b51b2e4e timed out after 30000 seconds"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ],
                  "description": "Internal server error response format"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel crawl",
        "description": "Cancel a pending crawl job",
        "tags": [
          "Crawl"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The crawl job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Crawl cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Job cancelled successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "job_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "const": "cancelled"
                        }
                      },
                      "required": [
                        "job_id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "data"
                  ],
                  "description": "Crawl job cancellation response (HTTP 200)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid job id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Validation error"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error",
                                "example": "engine"
                              },
                              "message": {
                                "type": "string",
                                "description": "Error message for the field",
                                "example": "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                              },
                              "code": {
                                "type": "string",
                                "description": "Error code",
                                "example": "invalid_enum_value"
                              }
                            },
                            "required": [
                              "field",
                              "message",
                              "code"
                            ]
                          },
                          "description": "Array of validation issues"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of validation error messages",
                          "example": [
                            "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                          ]
                        }
                      },
                      "required": [
                        "issues",
                        "messages"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "details"
                  ],
                  "description": "Standard error response format for validation errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to authentication issues"
                    },
                    "error": {
                      "type": "string",
                      "description": "Authentication error message",
                      "example": "Invalid API key",
                      "examples": [
                        "Invalid API key",
                        "No authorization header provided"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ],
                  "description": "Unauthorized response format for authentication errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to server error"
                    },
                    "error": {
                      "type": "string",
                      "description": "Server error message",
                      "example": "Internal server error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message describing what went wrong",
                      "example": "Job 0ae56ed9-d9a9-4998-aea9-2ff5b51b2e4e timed out after 30000 seconds"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ],
                  "description": "Internal server error response format"
                }
              }
            }
          }
        }
      }
    },
    "/v1/scrape": {
      "post": {
        "summary": "Scrape",
        "description": "AnyCrawl scrapes a URL, turns it into structured data and LLM-ready data. It supports multiple engines, including Cheerio, Playwright, Puppeteer, and more. It also supports multiple output formats, including HTML, Markdown, JSON, and more.",
        "tags": [
          "Scraping"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to be scraped",
                    "example": "https://httpstat.us/200"
                  },
                  "engine": {
                    "type": "string",
                    "enum": [
                      "playwright",
                      "cheerio",
                      "puppeteer"
                    ],
                    "description": "The engine to use",
                    "example": "cheerio"
                  },
                  "proxy": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "auto",
                          "base",
                          "stealth"
                        ]
                      },
                      {
                        "type": "string",
                        "format": "uri"
                      }
                    ],
                    "default": "auto",
                    "description": "Proxy URL to route the request through (e.g., http://user:pass@host:port)"
                  },
                  "formats": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "markdown",
                        "html",
                        "text",
                        "screenshot",
                        "screenshot@fullPage",
                        "rawHtml",
                        "json",
                        "summary",
                        "links"
                      ]
                    },
                    "default": [
                      "markdown"
                    ],
                    "description": "Output formats to return",
                    "example": [
                      "markdown"
                    ]
                  },
                  "timeout": {
                    "type": "number",
                    "minimum": 1000,
                    "maximum": 600000,
                    "default": 60000,
                    "description": "Request timeout in milliseconds",
                    "example": 60000
                  },
                  "retry": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether to retry on failure",
                    "example": false
                  },
                  "wait_for": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 60000,
                    "description": "Delay before processing (ms)",
                    "example": 1000
                  },
                  "wait_until": {
                    "type": "string",
                    "enum": [
                      "load",
                      "domcontentloaded",
                      "networkidle",
                      "commit"
                    ],
                    "description": "Navigation wait condition for browser engines",
                    "example": "networkidle"
                  },
                  "wait_for_selector": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "selector": {
                            "type": "string"
                          },
                          "timeout": {
                            "type": "number",
                            "minimum": 1,
                            "maximum": 120000
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "attached",
                              "visible",
                              "hidden",
                              "detached"
                            ]
                          }
                        },
                        "required": [
                          "selector"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "selector": {
                                  "type": "string"
                                },
                                "timeout": {
                                  "type": "number",
                                  "minimum": 1,
                                  "maximum": 120000
                                },
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "attached",
                                    "visible",
                                    "hidden",
                                    "detached"
                                  ]
                                }
                              },
                              "required": [
                                "selector"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        },
                        "minItems": 1
                      }
                    ],
                    "description": "Wait for one or multiple selectors before extraction (browser engines only)"
                  },
                  "only_main_content": {
                    "type": "boolean",
                    "default": true,
                    "description": "Only extract main content, removing headers, footers, navigation, etc.",
                    "example": true
                  },
                  "max_age": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Cache max age (ms). Use 0 to skip cache reads; omit to use server default.",
                    "example": 172800000
                  },
                  "store_in_cache": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to write Page Cache for this scrape",
                    "example": true
                  },
                  "include_tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Only include elements with these CSS selectors",
                    "example": []
                  },
                  "exclude_tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude elements with these CSS selectors",
                    "example": []
                  },
                  "json_options": {
                    "type": "object",
                    "properties": {
                      "schema": {
                        "type": "object",
                        "additionalProperties": {},
                        "description": "JSON Schema specification object (free-form JSON). Use standard JSON Schema here."
                      },
                      "user_prompt": {
                        "type": "string",
                        "description": "The user prompt to be used for extracting structured data"
                      },
                      "schema_name": {
                        "type": "string",
                        "description": "The name of the schema to be used for extracting structured data"
                      },
                      "schema_description": {
                        "type": "string",
                        "description": "The description of the schema to be used for extracting structured data"
                      }
                    },
                    "additionalProperties": false,
                    "description": "Advanced: JSON extraction options (optional). Leave empty to omit from request."
                  },
                  "extract_source": {
                    "type": "string",
                    "enum": [
                      "html",
                      "markdown"
                    ],
                    "default": "markdown",
                    "description": "The source format to use for JSON extraction (html or markdown)",
                    "example": "markdown"
                  }
                },
                "required": [
                  "url",
                  "engine"
                ],
                "description": "Request schema for web scraping",
                "example": {
                  "url": "https://example.com",
                  "engine": "cheerio",
                  "formats": [
                    "markdown"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraping successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "description": "Indicates the scraping request was successful"
                    },
                    "data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "uri",
                              "description": "The URL that was scraped",
                              "example": "https://httpstat.us/200"
                            },
                            "status": {
                              "type": "string",
                              "const": "completed",
                              "description": "The status of the scraping job when successful",
                              "example": "completed"
                            },
                            "jobId": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Unique identifier for the scraping job",
                              "example": "7a2e165d-8f81-4be6-9ef7-23222330a396"
                            },
                            "title": {
                              "type": "string",
                              "description": "The title of the scraped page",
                              "example": ""
                            },
                            "html": {
                              "type": "string",
                              "description": "The HTML content of the scraped page",
                              "example": "200 OK"
                            },
                            "markdown": {
                              "type": "string",
                              "description": "The markdown content of the scraped page",
                              "example": "200 OK"
                            },
                            "metadata": {
                              "type": "array",
                              "items": {},
                              "description": "Additional metadata extracted from the page",
                              "example": []
                            },
                            "cachedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "When the cached content was stored (cache hit only)",
                              "example": "2026-02-08T12:34:56.000Z"
                            },
                            "maxAge": {
                              "type": "number",
                              "description": "Cache max age used for the read (ms, cache hit only)",
                              "example": 172800000
                            },
                            "timestamp": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Timestamp when the scraping was completed",
                              "example": "2025-05-25T07:56:44.162Z"
                            }
                          },
                          "required": [
                            "url",
                            "status",
                            "jobId",
                            "title",
                            "html",
                            "markdown",
                            "metadata",
                            "timestamp"
                          ],
                          "description": "Successful scraping result data"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "format": "uri",
                              "description": "The URL that was attempted to be scraped",
                              "example": "https://httpstat.us/403"
                            },
                            "status": {
                              "type": "string",
                              "const": "failed",
                              "description": "The status of the scraping job when failed",
                              "example": "failed"
                            },
                            "error": {
                              "type": "string",
                              "description": "Error message describing why the scraping failed",
                              "example": "Request blocked - received 403 status code."
                            }
                          },
                          "required": [
                            "url",
                            "status",
                            "error"
                          ],
                          "description": "Failed scraping result data"
                        }
                      ],
                      "description": "Scraping result data - either successful with full content or failed with error message"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "description": "Scraping response format (HTTP 200) - can contain either successful or failed scraping results"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Validation error"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error",
                                "example": "engine"
                              },
                              "message": {
                                "type": "string",
                                "description": "Error message for the field",
                                "example": "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                              },
                              "code": {
                                "type": "string",
                                "description": "Error code",
                                "example": "invalid_enum_value"
                              }
                            },
                            "required": [
                              "field",
                              "message",
                              "code"
                            ]
                          },
                          "description": "Array of validation issues"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of validation error messages",
                          "example": [
                            "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                          ]
                        }
                      },
                      "required": [
                        "issues",
                        "messages"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "details"
                  ],
                  "description": "Standard error response format for validation errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to authentication issues"
                    },
                    "error": {
                      "type": "string",
                      "description": "Authentication error message",
                      "example": "Invalid API key",
                      "examples": [
                        "Invalid API key",
                        "No authorization header provided"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ],
                  "description": "Unauthorized response format for authentication errors"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - subscription or credits needed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to insufficient credits"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Insufficient credits"
                    },
                    "current_credits": {
                      "type": "number",
                      "description": "Current credit balance of the user",
                      "example": -2
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "current_credits"
                  ],
                  "description": "Payment required response format with credit information"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed due to server error"
                    },
                    "error": {
                      "type": "string",
                      "description": "Server error message",
                      "example": "Internal server error"
                    },
                    "message": {
                      "type": "string",
                      "description": "Detailed error message describing what went wrong",
                      "example": "Job 0ae56ed9-d9a9-4998-aea9-2ff5b51b2e4e timed out after 30000 seconds"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "message"
                  ],
                  "description": "Internal server error response format"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "post": {
        "summary": "SERP",
        "description": "Search the web using specified search engine",
        "tags": [
          "Search"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "engine": {
                    "type": "string",
                    "enum": [
                      "google",
                      "searxng",
                      "ac-engine"
                    ],
                    "description": "The search engine to be used",
                    "example": "google"
                  },
                  "query": {
                    "type": "string",
                    "description": "The search query string",
                    "example": "OpenAI ChatGPT"
                  },
                  "limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10,
                    "description": "Maximum number of results per page. If scrape_options is provided, this also acts as a global cap on the number of result URLs to scrape across all pages.",
                    "example": 10
                  },
                  "offset": {
                    "type": "number",
                    "minimum": 0,
                    "default": 0,
                    "description": "Number of results to skip",
                    "example": 0
                  },
                  "pages": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 20,
                    "description": "Number of pages to search",
                    "example": 1,
                    "default": 1
                  },
                  "lang": {
                    "description": "Language locale for search results",
                    "example": "en"
                  },
                  "country": {
                    "description": "Country locale for search results",
                    "example": "US"
                  },
                  "timeRange": {
                    "type": "string",
                    "enum": [
                      "day",
                      "week",
                      "month",
                      "year"
                    ]
                  },
                  "sources": {
                    "type": "string",
                    "enum": [
                      "web",
                      "images",
                      "news"
                    ]
                  },
                  "scrape_options": {
                    "type": "object",
                    "properties": {
                      "proxy": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "auto",
                              "base",
                              "stealth"
                            ]
                          },
                          {
                            "type": "string",
                            "format": "uri"
                          }
                        ],
                        "default": "auto",
                        "description": "Proxy URL to route the request through (e.g., http://user:pass@host:port)"
                      },
                      "formats": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "markdown",
                            "html",
                            "text",
                            "screenshot",
                            "screenshot@fullPage",
                            "rawHtml",
                            "json",
                            "summary",
                            "links"
                          ]
                        },
                        "default": [
                          "markdown"
                        ],
                        "description": "Output formats to return",
                        "example": [
                          "markdown"
                        ]
                      },
                      "timeout": {
                        "type": "number",
                        "minimum": 1000,
                        "maximum": 600000,
                        "default": 60000,
                        "description": "Request timeout in milliseconds",
                        "example": 60000
                      },
                      "wait_for": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 60000,
                        "description": "Delay before processing (ms)",
                        "example": 1000
                      },
                      "wait_until": {
                        "type": "string",
                        "enum": [
                          "load",
                          "domcontentloaded",
                          "networkidle",
                          "commit"
                        ],
                        "description": "Navigation wait condition for browser engines",
                        "example": "networkidle"
                      },
                      "wait_for_selector": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "selector": {
                                "type": "string"
                              },
                              "timeout": {
                                "type": "number",
                                "minimum": 1,
                                "maximum": 120000
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "attached",
                                  "visible",
                                  "hidden",
                                  "detached"
                                ]
                              }
                            },
                            "required": [
                              "selector"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "selector": {
                                      "type": "string"
                                    },
                                    "timeout": {
                                      "type": "number",
                                      "minimum": 1,
                                      "maximum": 120000
                                    },
                                    "state": {
                                      "type": "string",
                                      "enum": [
                                        "attached",
                                        "visible",
                                        "hidden",
                                        "detached"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "selector"
                                  ],
                                  "additionalProperties": false
                                }
                              ]
                            },
                            "minItems": 1
                          }
                        ],
                        "description": "Wait for one or multiple selectors before extraction (browser engines only)"
                      },
                      "only_main_content": {
                        "type": "boolean",
                        "default": true,
                        "description": "Only extract main content, removing headers, footers, navigation, etc.",
                        "example": true
                      },
                      "max_age": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Cache max age (ms). Use 0 to skip cache reads; omit to use server default.",
                        "example": 172800000
                      },
                      "store_in_cache": {
                        "type": "boolean",
                        "default": true,
                        "description": "Whether to write Page Cache for per-URL scrapes",
                        "example": true
                      },
                      "include_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Only include elements with these CSS selectors",
                        "example": []
                      },
                      "exclude_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Exclude elements with these CSS selectors",
                        "example": []
                      },
                      "json_options": {
                        "type": "object",
                        "properties": {
                          "schema": {
                            "type": "object",
                            "additionalProperties": {},
                            "description": "JSON Schema specification object (free-form JSON). Use standard JSON Schema here."
                          },
                          "user_prompt": {
                            "type": "string",
                            "description": "The user prompt to be used for extracting structured data"
                          },
                          "schema_name": {
                            "type": "string",
                            "description": "The name of the schema to be used for extracting structured data"
                          },
                          "schema_description": {
                            "type": "string",
                            "description": "The description of the schema to be used for extracting structured data"
                          }
                        },
                        "additionalProperties": false,
                        "description": "Advanced: JSON extraction options (optional). Leave empty to omit from request."
                      },
                      "extract_source": {
                        "type": "string",
                        "enum": [
                          "html",
                          "markdown"
                        ],
                        "description": "The source format to use for JSON extraction (html or markdown)",
                        "example": "markdown",
                        "default": "markdown"
                      },
                      "engine": {
                        "type": "string",
                        "enum": [
                          "playwright",
                          "cheerio",
                          "puppeteer"
                        ],
                        "description": "Scraping engine used to enrich each search result URL",
                        "example": "cheerio"
                      }
                    },
                    "required": [
                      "engine"
                    ],
                    "description": "Optional scraping options. If provided, the service scrapes result URLs (capped by limit across all pages) and merges outputs (e.g., html, markdown, metadata) into each item."
                  },
                  "safe_search": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "minimum": 0,
                    "maximum": 2,
                    "description": "Safe search filter level for Google. 0: off, 1: medium, 2: high, null: default",
                    "example": 1,
                    "enum": [
                      0,
                      1,
                      2
                    ],
                    "nullable": true
                  }
                },
                "required": [
                  "query",
                  "scrape_options"
                ],
                "description": "Request schema for web search",
                "example": {
                  "engine": "google",
                  "query": "OpenAI ChatGPT",
                  "limit": 10,
                  "offset": 0,
                  "pages": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true,
                      "description": "Indicates the search request was successful"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "The title of the search result",
                                "example": "AlsoAsked: People Also Ask keyword research tool"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "The URL of the search result",
                                "example": "https://alsoasked.com/"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description/snippet of the search result",
                                "example": "Find the questions people also ask. Enter a question, brand or search query. e.g. 'keyword research'."
                              },
                              "source": {
                                "type": "string",
                                "description": "The source of the search result",
                                "example": "Google Search Result"
                              }
                            },
                            "required": [
                              "title",
                              "url",
                              "description",
                              "source"
                            ],
                            "description": "Search result with URL and description"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "The title of the search suggestion",
                                "example": "Keyword tool"
                              },
                              "source": {
                                "type": "string",
                                "description": "The source of the search suggestion",
                                "example": "Google Suggestions"
                              }
                            },
                            "required": [
                              "title",
                              "source"
                            ],
                            "description": "Search suggestion without URL"
                          }
                        ]
                      },
                      "description": "Array of search results and suggestions - can be empty if no results found. When scrape_options is used, additional enriched fields (e.g., html, markdown, metadata, status, jobId) may be present on each result.",
                      "example": [
                        {
                          "title": "The Investment Case for Digital Infrastructure",
                          "url": "https://www.patrizia.ag/fileadmin/user_upload/The_Investment_Case_for_Digital_Infrastructure.pdf",
                          "description": "It took just five days for ChatGPT to reach one million users and just two months to reach 100 million users, the fastest of any social media platform or app in ...48 pages",
                          "source": "Google Search Result"
                        }
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "description": "Successful search response format containing an array of search results and suggestions (may be empty)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": false,
                      "description": "Indicates the request failed"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Validation error"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error",
                                "example": "engine"
                              },
                              "message": {
                                "type": "string",
                                "description": "Error message for the field",
                                "example": "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                              },
                              "code": {
                                "type": "string",
                                "description": "Error code",
                                "example": "invalid_enum_value"
                              }
                            },
                            "required": [
                              "field",
                              "message",
                              "code"
                            ]
                          },
                          "description": "Array of validation issues"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of validation error messages",
                          "example": [
                            "Invalid enum value. Expected 'playwright' | 'cheerio' | 'puppeteer', received 'cheeri1o'"
                          ]
                        }
                      },
                      "required": [
                        "issues",
                        "messages"
                      ],
                      "description": "Validation error details"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "details"
                  ],
                  "description": "Standard error response format for validation errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid authentication",
[...]
